@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


  <body>
    <script async src="//jsfiddle.net/19tyd05s/embed/"></script>

  </body>
 
