@model MA_Delivery_Project.DBConnStr.AllMod

@{
    				<div class="form-row">
					<div class="form-group col-md-1">
						<label> Code</label>
						<input type="text" class="form-control" id="txtcode" placeholder=" Code">
				 	</div>
				<div class="form-group col-md-3">
				   <label>Paymnet Name</label>
				   <input type="text" class="form-control" id="txtp" placeholder="Payment Type">
		    	</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<input type="button" value="Save"   class="btn btn-success"  id="btnsavepayment" >

					</div></div>
}
