@model MA_Delivery_Project.DBConnStr.AllMod
@{
	ViewBag.Title = "Sub Categories ";
}
@{
	<div class="form-row">
				<div class="form-group col-md-3">
					<label> Organizaion</label>



					<!-- BEGIN Select -->
            <select class="form-control select2-1" id="SelIDv" onchange="FT();">
						@foreach(var modelitems in Model.OrgsList)
						{
					<option value="@modelitems.ID">@modelitems.OrganizeName</option>
						}
					 	
					</select>

				</div>
	</div>
	<div class="form-row">
				<div class="form-group col-md-1">

					<label> Code</label>
					<input type="text" class="form-control" id="txtSubCode" placeholder=" Code">
				</div>
				<div class="form-group col-md-3">

					<label>Oganization Sub Name</label>
					<input type="text" class="form-control" id="txtSubName" placeholder=" Name">
				</div>
				<div class="form-group col-md-3">

					<label>Latitude</label>
					<input type="text" class="form-control" id="txtLatitude" placeholder=" Latitude">
				</div>
				<div class="form-group col-md-3">

					<label>LongTitude</label>
					<input type="text" class="form-control" id="txtLongtitude" placeholder=" Longtitude">
				</div>
	</div>
	<div class="form-row">
				<div class="form-group col-md-3">
					<input type="button" value="Save" class="btn btn-success" id="BtnsaveRelated">
				</div>
	</div>

<script>
function FT(){
var t= document.getElementById("select2-1");

alert(t.options[t.selectedIndex].value);
	}
	</script>
}